
* {
    box-sizing: border-box;
}

div {
    padding: 20px;
}

h1,
h2 {
    text-align: center;
}

a {
    padding: 10px;
    border-radius: 25px;
    background-color: blue;
    color: white;
}

    a:hover {
       
        background-color: goldenrod;
    }

span {
    font-weight: bold;
    font-style: italic;
    color: fuchsia;
    font-size: 40px;
}

#felsorolasok {
    background-color: lightgrey;
}

.pottyos {
    background-color: white;
    width: 100px;
    border-radius: 25px;
}

.szamos {
    font-style: italic;
}

img {
    display: block;
    margin: auto;
}


body {
    font-weight: bold;
    text-align: center;
}

#main
#aside,
#footer,
#header,
#nav {
    padding: 20px;
}

#header {
    background-color: green;
}

#nav {
    background: blue;
}

#mult {
    background: red;
}

#main {
    text-align: left;
    background: orange;
}

#tartalom {
    background-color: lightgreen;
}

#footer {
    background: hotpink;
}

#nav {
    display: flex;
}

    #nav a {
        
        flex: 1 1 auto;
        text-decoration: none;
        color: black;
    }

@media screen and (min-width: 800px) {
    body {
        display: flex;
        flex-direction: column;
        max-width: 1300px;
        margin: auto;
    }

    #main {
        display: flex;
        flex-wrap: wrap;
    }

    #nav,
    #header {
        order: -1;
    }

    #main {
        flex: 1 1 75%;
    }

    #aside {
        flex: 1 1 25%;
    }
}
